<div class="modal">
  <ion-header-bar class="bar-energized">
    <h1 class="title">Lockup Info</h1>
  </ion-header-bar>
    <ion-content>
      <div class="card">
        <div class="item item-divider">
          Description
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.description}}
        </div>
        <div class="item item-divider">
          Address
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.address}}
        </div>
        <div class="item item-divider">
          Number of lockups
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.rackAmount}}
        </div>
        <div class="item item-divider">
          Created by
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.createdBy}}
        </div>
        <div class="item item-divider">
          Pageviews
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.pageViews}}
        </div>
      </div>
    </ion-content>
  <ion-footer-bar class="bar-energized">
    <button ng-click="closeLockupInfoModal()" class="button button-icon icon ion-close-round"></button>
    <button class="button button-icon icon ion-alert-circled" ng-click="showReportPopup()"></button>
  </ion-footer-bar>
</div>