<div class="modal" ng-hide="reportLockupEnabled">
  <ion-header-bar class="bar-energized">
    <h1 class="title" ng-hide="reportLockupEnabled">Lockup Info</h1>
    <h1 class="title" ng-show="reportLockupEnabled">Report Lockup</h1>
  </ion-header-bar>
    <ion-content>
      <div class="card">
        <div class="item item-divider">
          Name
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.name}}
        </div>
        <div class="item item-divider">
          Address
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.address}}
        </div>
        <!--<div class="item item-divider">
          Location
        </div>
        <div class="item item-text-wrap">
          <i class="icon ion-location"></i>
          {{currentLockup.location.coordinates[1]}}, {{currentLockup.location.coordinates[0]}}
        </div>-->
        <div class="item item-divider">
          Number of lockups
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.rackAmount}}
        </div>
        <div class="item item-divider">
          Created by
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.createdBy}}
        </div>
      </div>
    </ion-content>
  <ion-footer-bar class="bar-energized">
    <button ng-click="closeLockupInfoModal()" class="button button-icon icon ion-close-round"></button>
    <button class="button button-icon icon ion-alert-circled" ng-click="toggleReportStatus()"></button>
  </ion-footer-bar>
</div>

<div class="modal" ng-show="reportLockupEnabled">
  <ion-header-bar class="bar-assertive">
    <h1 class="title" ng-hide="reportLockupEnabled">Lockup Info</h1>
    <h1 class="title" ng-show="reportLockupEnabled">Report Lockup</h1>
  </ion-header-bar>
    <ion-content>
      <button class="button button-icon icon ion-arrow-left-c" ng-click="toggleReportStatus()">Back</button>
      <div class="card">
        <div class="item item-divider">
          Name
        </div>
        <div class="item item-text-wrap">
          {{currentLockup.name}}
        </div>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <textarea placeholder="Reason for reporting"></textarea>
        </label>
      </div>
    </ion-content>
  <ion-footer-bar class="bar-assertive">
    <button ng-click="closeLockupInfoModal()" class="button button-icon icon ion-close-round"></button>
    <button class="button button-icon icon ion-checkmark-round"></button>
  </ion-footer-bar>
</div>