<div class="modal">
  <ion-header-bar class="bar-dark">
    <h1 class="title">New Lockup</h1>
  </ion-header-bar>
  <form name="newLockupForm" novalidate>
    <ion-content>
      <div class="card">
        <div class="item item-divider">
          <span>Location</span>
          <button class="input-button button-icon ion-close-circled" id="clearGeocodeForm" ng-show="geocodeFormIsActive()" data-tap-disabled="true" ng-mousedown="clearGeocodeForm()"></button>
        </div>
        <div class="item item-input">
          <button class="button button-clear button-assertive button-small button-icon ion-location placeholder-icon geocodeAddressIcon" ng-click="processLocation()">
          </button>
          <input required ng-blur="processLocation()" type="text" placeholder="{{processingLocation ? 'Processing...' : 'Use current location or enter address'}}" ng-model="locationQuery.text">
        </div>
        <div class="item item-divider">
          <span>Description</span>
        </div>
        <label class="item item-input">
          <textarea required placeholder='"Street sign on the corner", "Fence in front of 123 Fake St"' ng-model="lockup.description" rows="3"></textarea>
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">
          Preview
        </div>
        <div class="item item-text-wrap"><strong>Address: </strong>{{lockup.address}}</div>
        <div class="item item-text-wrap"><strong>Description: </strong>{{lockup.description}}</div>
      </div>
    </ion-content>

    <!-- <ion-content ng-show="processingAuth">
      <h1 class="loadingSpinner">
        <i class="icon ion-loading-d"></i>
      </h1>
    </ion-content> -->
  </form>
  <ion-footer-bar class="bar-dark">
    <button ng-click="closeModal()" class="button button-icon icon ion-close-round"></button>
    <button class="button button-icon icon ion-checkmark-round" ng-click="submitLockup(lockup)" ng-disabled="newLockupForm.$invalid"></button>
  </ion-footer-bar>
</div>