<div class="modal">
  <ion-header-bar class="bar-dark">
    <h1 class="title">New Lockup</h1>
  </ion-header-bar>
  <form name="newLockupForm" novalidate>
    <ion-content>
      <div class="card">
        <div class="item item-divider">
          Location
        </div>
        <label class="item item-input">
          <i class=" icon ion-location placeholder-icon geocodeAddressIcon" ng-mousedown="processLocation()"></i>
          <input required ng-blur="processLocation()" type="text" placeholder="Press for current location/enter address" ng-model="locationQuery.text">
          <i class="icon ion-close-circled" id="clearGeocodeForm" ng-show="geocodeFormIsActive()" data-tap-disabled="true" ng-mousedown="clearGeocodeForm()"></i>
        </label>
        <div class="item item-divider">
          Description
        </div>
        <label class="item item-input">
          <textarea required placeholder="Description" ng-model="lockup.description" rows="6"></textarea>
        </label>
      </div>
      Description: {{ lockup.description }} <br>
      Location: {{ lockup.location.coordinates }} <br>
      Address: {{ lockup.address }} <br>
      Amount: {{ lockup.rackAmount }} <br>
      Created by: {{ lockup.createdBy }} <br>
      Query: {{ locationQuery.text }}
    </ion-content>
  </form>
  <ion-footer-bar class="bar-dark">
    <button ng-click="closeModal()" class="button button-icon icon ion-close-round"></button>
    <button class="button button-icon icon ion-checkmark-round" ng-click="submitLockup(lockup)" ng-disabled="newLockupForm.$invalid"></button>
  </ion-footer-bar>
</div>