<div class="modal" ng-controller="AuthCtrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Dashboard</h1>
    <button ng-if="registrationEnabled && !loggedIn && !processingAuth" class="button" ng-click="toggleAuthForm()">Login</button>
    <button ng-if="loginEnabled && !loggedIn && !processingAuth" class="button" ng-click="toggleAuthForm()">Register</button>
  </ion-header-bar>
    <ion-content ng-show="processingAuth">
      <h1 class="loadingSpinner">
        <i class="icon ion-loading-d"></i>
      </h1>
    </ion-content>

    <ion-content ng-hide="processingAuth">
      <div ng-hide="loggedIn">
        <form ng-submit="login()" ng-show="loginEnabled" name="userLogin" blur-inputs novalidate>
          <ion-content>
            <div class="card">
              
              <div>
                <div class="item item-divider">
                  Login <span ng-show="userMessages.authMessage" class="auth-message">{{userMessages.authMessage}}</span>
                </div>
                <label class="item item-input">
                  <i class="icon ion-email placeholder-icon"></i>
                  <input class="authInput" type="email" placeholder="E-mail" ng-model="loginCreds.email">
                </label>
                <label class="item item-input">
                  <input class="authInput" type="password" placeholder="Password" ng-model="loginCreds.password">
                </label>
              </div>
        
            </div>
        
            <div class="list list-inset">
              <button type="submit" class="button button-balanced button-block">Login</button>
            </div>

            <div class="list list-inset">
              <div class="item item-divider">
                Actions
              </div>
              <div class="item item-button-right">
                Add a new Lockup
                <button ng-click="openNewLockupForm()" class="button button-stable">
                  <i class="icon ion-plus-round"></i>
                </button>
              </div>
            </div>

          </ion-content>
        </form>
        
        <form ng-submit="register()" ng-show="registrationEnabled" name="userRegistration" blur-inputs novalidate>
          <ion-content>
            <div class="card">
        
              <div>
                <div class="item item-divider">
                  Register <span ng-show="userMessages.authMessage" class="auth-message">{{userMessages.authMessage}}</span>
                </div>
                <label class="item item-input">
                  <i class=" icon ion-email placeholder-icon"></i>
                  <input class="authInput" type="email" placeholder="E-mail" ng-model="registration.email">
                </label>
                <label class="item item-input">
                  <input class="authInput" type="password" placeholder="Password" ng-model="registration.password">
                </label>
              </div>
        
            </div>
        
            <div class="list list-inset">
              <button type="submit" class="button button-calm button-block">Register</button>
            </div>
          </ion-content>
        </form>
      </div>
    </ion-content>

    <ion-content ng-show="loggedIn">
      <div class="card">
        <div class="item item-divider">
          Email
        </div>
        <div class="item item-text-wrap">
          <h3>{{currentUser.email}}</h3>
        </div>
      </div>
      <div class="list list-inset">
        <button class="button button-assertive button-block" ng-click="logout()">Logout</button>
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          Actions
        </div>
        <div class="item item-button-right">
          Add a new Lockup
          <button ng-click="openNewLockupForm()" class="button button-positive">
            <i class="icon ion-plus-round"></i>
          </button>
        </div>
      </div>
    </ion-content>

  <ion-footer-bar class="bar-dark">
    <button ng-click="closeAuthModal()" class="button button-icon icon ion-close-round"></button>
  </ion-footer-bar>
</div>