<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- third party libraries -->
    <script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>

    <!-- your app's js -->
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
  </head>
  <body ng-app="lockupFront" ng-controller="MapCtrl">

      <div id="map-container">
        
        <google-map
          center="map.center"
          zoom="map.zoom"
          draggable="true"
          options="map.options"
          events="map.events"
          control="map.control"
          pan="true"
          >
          <markers models="lockups" click="markerInfo" idKey="map.idKey" coords="'location'" doCluster="true" clusterOptions="{maxZoom:16}">
              <!-- <window coords="map.center"></window> -->
          </markers>
        </google-map>

      </div>

    <ion-footer-bar class="bar-positive">
        <button ng-click="getPosition()" class="button button-icon icon ion-navigate"></button>
        <button ng-click="newLockup()" class="button button-icon icon ion-plus-round"></button>
    </ion-footer-bar>

    <script id="new-lockup.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar-dark">
          <h1 class="title">New Lockup</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="lockup.name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Address" ng-model="lockup.address">
            </label>
          </div>
        </ion-content>
        <ion-footer-bar class="bar-assertive">
          <button class="button" ng-click="submitLockup(lockup)">Submit</button>
          <button ng-click="closeModal()" class="button button-icon icon ion-close-round"></button>
        </ion-footer-bar>
      </div>
    </script>

     <script id="lockup-info.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar-dark">
          <h1 class="title">Lockup info</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item>Name: {{currentLockup.name}}</ion-item>
            <ion-item>Address: {{currentLockup.address}}</ion-item>
            <ion-item>Coordinates: {{currentLockup.location.coordinates}}</ion-item>
            <ion-item>Created by: {{lockup.createdBy}}</ion-item>
          </ion-list>
        </ion-content>
        <ion-footer-bar class="bar-assertive">
          <button ng-click="closeInfoModal()" class="button button-icon icon ion-close-round"></button>
        </ion-footer-bar>
      </div>
    </script>
    
  </body>
</html>
