#map-container {
  /*position:relative;*/
  height: 100%;
  width: 100%;
}

.angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*.lockupReport {
  resize: none;
}*/

textarea {
  resize: none;
}

.popup-buttons {
  border-top: 1px solid #eee;
}

.geocodeAddressIcon {
  font-size: 1.5em;
  color: red;
}